{% extends "layout.html" %}

{% block title %}
  Quoted
{% endblock %}

{% block body %}
  <br>
  <div class="container">
    <div class="row mx-4">
      <div class="row fs-2 fw-bold mt-3">
        {{quote.symbol}}
      </div>
      <div class="row fs-4 fw-bold mt-2" style="color:#00000080!important">
        {{quote.companyName}}
      </div>
      <div class="row mt-2 ps-0">
        <span>
          <span class="fs-2 fw-bold ">{{quote.lastPrice}}</span>
          <span class="fs-6 fw-normal">INR</span>
        </span>
      </div>
      <div class="row fs-5 mt-2 ps-0"  style="color:#00000080!important">
        {% if quote.pChange|int > 0 %}
          <i class="fas fa-sort-up col pt-2 fs-3" style="color:green;flex:0;"></i>
        {% else %}
          <i class="fas fa-sort-down col fs-3" style="color:red;flex:0;line-height:0.8;"></i>
        {% endif %}
        <span class="ps-0 col">
          {{quote.change}} ({{quote.pChange}}%)
        </span>
      </div>
      <div class="row row-cols-2 row-cols-md-3 mt-5 ps-0">
        <div class="col mb-3">
          <span class="fs-5 text-secondary">Open</span>
          <br>
          <span class="fs-4 mt-3">{{quote.open}}</span>
        </div>
        <div class="col mb-3">
          <span class="fs-5 text-secondary">Day's High</span>
          <br>
          <span class="fs-4 mt-3">{{quote.dayHigh}}</span>
        </div>
        <div class="col mb-3">
          <span class="fs-5 text-secondary">Day's Low</span>
          <br>
          <span class="fs-4 mt-3">{{quote.dayLow}}</span>
        </div>

        <div class="col mb-3">
          <span class="fs-5 text-secondary">Prev. Close</span>
          <br>
          <span class="fs-4 mt-3">{{quote.previousClose}}</span>
        </div>
        <div class="col mb-3">
          <span class="fs-5 text-secondary">52 Week High</span>
          <br>
          <span class="fs-4 mt-3">{{quote.high52}}</span>
        </div>
        <div class="col mb-3">
          <span class="fs-5 text-secondary">52 Week Low</span>
          <br>
          <span class="fs-4 mt-3">{{quote.low52}}</span>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
