{% extends "layout.html" %}

{% block title %}
  Register
{% endblock %}

{% block body %}
  <div class="d-flex justify-content-center text-center">
    <form class="form-signin" action="/register" method="post">
      <br>
      <div class="mb-3">
        <input autocomplete="off" class="form-control" autofocus name="username" placeholder="Username" type="text">
      </div>
      <div class="mb-3">
        <input name="password" class="form-control" placeholder="Password" type="password">
      </div>
      <div class="mb-3">
        <input name="confirmation" class="form-control" placeholder="Password (again)" type="password">
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </div>
{% endblock %}
